/****** Header ******/

.header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  vertical-align: bottom;
  border-bottom: solid 1px #2E3C51;
  z-index: 2;
  background-color: rgba(255, 255, 255, .9)
}
.name {
  display: inline-block;
  height: 100%;
  font-size: 1.618em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: .8em 20px .3em;
  color: white;
  background-color: #2E3C51;
  left: 0;
  position: absolute;
  z-index: 5;
}
.name.showInMobile:hover {
  background-color: #1E304A;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
}
nav {
  width: 100%;
  float: left;
  height: 100%;
  position: relative;
}
nav ul {
  position: absolute;
  bottom: 0;
  left: 180px;
}
nav>ul>li, nav>ul {
  margin: 0;
  float: left;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav a {
  color: #2E3C51;
  display: block;
  margin: .3em 1em 0;
  padding-bottom: .3em;
  text-decoration: none;
  text-align: center;
  opacity: .5;
}
nav>ul>li>a {
  text-transform: uppercase;
}
nav>ul>li>a.current {
  opacity: 1;
  border-bottom: solid;
}
nav>ul>li>a:hover {
  opacity: 1;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.showInMobile {
  display: none;
}
.refhead {
  font-size: 1.8em;
}
.refq {
  font-size: 1.2em;
}

/****** End of Header ******/


/****** Footer ******/

.footer {
  width: 100%;
  background-color: #39465A;
  color: #DDD;
  height: 160px;
  padding: 2em 0;
  font-size: 90%;
  z-index: 15;
}
.footer .grid > * {
  margin-top:10px;
}
.footer img, .bioPhoto {
  width: 90px;
  float: left;
  margin: 0 4%;
}
.bioPhoto {
  margin-top: 1em;
}
.footer p {
  margin: 0 1em;
}
.footer ul {
  margin: 0px !important;
  padding: 0 !important;
}
.footer ul>li {
  line-height: 1.6em;
  letter-spacing: .05em;
}
.footer a {
  text-decoration: none;
  color: inherit;
}
.footer p {
  max-width: 680px;
}
.footer a:hover {
  text-decoration: underline;
}
.space {
  width: 100%;
  margin-top: 2em;
  float: left;
}
/*#publication + .footer>.grid, #reference + .footer>.grid{
  margin:0 0 0 20px;
}*/
/*#publication + .footer img,#reference + .footer img{
  margin-left:0px;
}*/
/****** End of Footer ******/


/****** Publication ******/

#projects {
  margin-top: 60px;
  height: 100%;
}

#publist {
  max-width: 700px;
}
.pubhead {
  font-size: 1.19em;
  font-weight: 600;
  color: #39465A;
  line-height: 4em;
}
#publist .section{
  margin-top: 2em;
}
#publist .row p{
  margin-bottom: .5em;
}

/****** Projects ******/
.project {
  padding: 0;
  float: left;
  position: relative;

}
.project a {
  text-decoration: none;
}

.gridSize-l{
  float: left;
  width: 66%;
  height: 480px;
  padding: 20px 10px 20px 10px;
}
.gridSize-lr{
  float: right;
  width: 66%;
  height: 480px;
  padding: 20px 20px 20px 0px;
}
.gridSize-s{
  width: 33%;
  height: 240px;
  padding: 20px 10px;
}

.project-description{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 20px 10px 0 10px;
  padding: 20px 20px;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.project-description:hover{
  opacity: 1;
  transition: opacity 0.3s;
}


h5.smallerTitle{
  font-size: 0.99em !important;
}
.project h5 {
  font-size: 1.19em;
  color: #fff;
  height:32px;
}
.projectlong h5 {
  font-size:1.19em;
  color: #39465A;
}
.project:hover {
  background-color: rgba(57, 70, 90, .06);
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.project img {
  display: block;
  width: 100%;
  object-fit:cover;
  object-position: center; /* Center the image within the element */
  background-color: black;
  border-style: solid;
  border-color:#DDD;
  border-width: 1px;
}

.gridSize-s img{

  height: 220px;

}

.gridSize-l img,.gridSize-lr img{
  height: 460px;
}
.collaborators {
  text-transform: uppercase;
  color: #2E3C51;
  font-size: 10px;
}
.maxH {
  height: auto;
}
#detail {
  position: relative;
  min-height: 530px;
}
.projectlong .col-8-12 {
  width: 60%;
}
.projectlong {
  padding-top: 60px;
  width: 100%;
  z-index: 1;
  min-height: 85vh;
}
.longdesc, .quotes, .exhibitions {
  max-width: 525px;
}
.hanging {
  max-width: 1000px; /* unused */
  padding-left: 22px ;
  text-indent: -22px ;
}
.longdesc, .quotes, .exhibitions, .links {
  margin-bottom: 40px;
}
.quotes span {
  margin-top: 5px;
}
.projectlong img {
  margin: 20px;
  max-width: 400px;
  width: 100%;
  background-color: #EEE;
}
.projectlong ul {
  padding: 0;
}
.projectlong ul {
  line-height: 1.8em;
  letter-spacing: 0.1em;
}
.projectlong ul li {
  letter-spacing: 0;
  line-height: 1.5em;
}
.projectlong ul.exhibitions li {
  margin-bottom: 0.3em;
  line-height: 1.4em !important;
}
.projectlong iframe {
  margin:10px 0;
  width:525px;
  height:380px;
  border-style:none;
  overflow-x: hidden;
}
#automatype iframe {
  width:300px;
  height:200px;
}
#close {
  display: none;
  padding: 1em 2em;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 30;
}
.bottomNav {
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: solid 2px #39465A;
  z-index: 15;
  height: 80px;
}
.bottomNav p {
  margin: 15px 20px;
  display: inline-block;
  line-height: 1.6em;
  font-weight: 600;
}
.bottomNav p span {
  text-transform: uppercase;
  color: #AAA;
  letter-spacing: .5px;
}
.bottomNav .nextPage {
  float: right;
}
.bottomNav p a {
  display: block;
}
.video{
  width:100%;
  max-width: 400px;
  margin:20px;
  position:relative;
  background-color: black;
}
.video img{
  opacity:.6;
  margin:0 !important;
}
.video + p{
  margin:-10px 20px 10px;
  background-color: white;
  color:grey;
  width:100%;
  font-size: 12px;
}
a.fancybox:hover{
  text-decoration: none !important;
}
video{
  max-width:640px;
  width:100%;
}
.bib{
  margin-top:5em;
}
.play {
  display: block;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 24px solid rgba(255,255,255,.95);
  margin: 40px auto 20px auto;
  position: absolute;
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  margin:auto;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
}
.play:before {
  content: '';
  position: absolute;
  top: -30px;
  left: -46px;
  bottom: -30px;
  right: -14px;
  border-radius: 50%;
  border: 4px solid rgba(255,255,255,.95);
  z-index: 2;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.play:after {
  content: '';
  opacity: 0;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}
.play:hover:before, .play:focus:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.play.active {
  border-color: transparent;
}
.play.active:after {
  content: '';
  opacity: 1;
  width: 20px;
  height: 32px;
  background: rgba(255,255,255,.95);
  position: absolute;
  right: 2px;
  top: -16px;
  border-left: 8px solid rgba(255,255,255,.95);
  box-shadow: inset 12px 0 0 0 rgba(0, 0, 0, 0.6);
}
/* links */
.longdesc a {
  color: #004d66;
  text-decoration: underline;
  text-decoration-color: #aaccdd;
}
.links a, .exhibitions a, .projects a, .bottomNav p a, #about a {
  color: #004d66;
  text-decoration: none;
}
.projectlong a:hover, .bottomNav p a:hover, #about a:hover {
  text-decoration: underline;
}

/****** End of Projects ******/


/****** Other Pages ******/

#about .biophoto {
  margin-left: 0!important;
}
canvas {
  z-index: 1;
  position: absolute;
  top: 60px;
}
#reference ul {
  list-style: disc;
}

.fancybox-video {
  display: none;
  width:640px;
}


/****** End of Other Pages ******/


/* ==========================================================================
   General Template
   ========================================================================== */

html, body {
  font-size: 14px;
  line-height: 1.4;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
i {
  font-family:"HelveticaNeue-LightItalic", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;

}
h1, h2, h3, h4, p {
  margin-bottom: 0.8em;
}
h4 {
  margin-top: 2rem;
  font-size: 2em;
}
h5 {
  margin-top: 1rem;
  font-size: 1em;
  margin-bottom:0;
}
p {
  font-size: 1em;
  margin-bottom: 1.2em;
  line-height: 1.4em;
  letter-spacing:.01em;
}
ul {
  list-style: none;
}
a {
  color: inherit;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio, canvas, img, video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}

/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
[class*='col-'] {
  float: left;
  padding-right: 20px;
  /* column-space */
  min-height: 1px;
}
.gd-section {
  width: 100%;
  margin: 0;
}
.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0px auto -20px;
  overflow: hidden;
}
.content {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  margin: 50px 0 100px 0;
}

/*.grid:after {
    content: "";
    display: table;
    clear: both;
}*/

.row {
  min-height: 1px;
}
.push-right {
  float: right;
}
.col-1-1 {
  width: 100%;
}
.col-2-3, .col-8-12 {
  width: 66.66%;
}
.col-1-2, .col-6-12 {
  width: 50%;
}
.col-1-3, .col-4-12 {
  width: 33.33%;
}
.col-1-4, .col-3-12 {
  width: 25%;
}
.col-1-5 {
  width: 20%;
}
.col-1-6, .col-2-12 {
  width: 16.667%;
}
.col-1-7 {
  width: 14.28%;
}
.col-1-8 {
  width: 12.5%;
}
.col-1-9 {
  width: 11.1%;
}
.col-1-10 {
  width: 10%;
}
.col-1-11 {
  width: 9.09%;
}
.col-1-12 {
  width: 8.33%
}

/* Layout Columns */

.col-11-12 {
  width: 91.66%
}
.col-10-12 {
  width: 83.333%;
}
.col-9-12 {
  width: 75%;
}
.col-5-12 {
  width: 41.66%;
}
.col-7-12 {
  width: 45.33%
}
@media handheld, only screen and (max-width: 767px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
  }
  [class*='col-'] {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    /* column-space */
  }
  /* Mobile Layout */
  [class*='mobile-col-'] {
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0px;
  }
  .mobile-col-1-1 {
    width: 100% !important;
  }
  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%;
  }
  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%;
  }
  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%;
  }
  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%;
  }
  .mobile-col-1-5 {
    width: 20%;
  }
  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%;
  }
  .mobile-col-1-7 {
    width: 14.28%;
  }
  .mobile-col-1-8 {
    width: 12.5%;
  }
  .mobile-col-1-9 {
    width: 11.1%;
  }
  .mobile-col-1-10 {
    width: 10%;
  }
  .mobile-col-1-11 {
    width: 9.09%;
  }
  .mobile-col-1-12 {
    width: 8.33%
  }
  /* Layout Columns */
  .mobile-col-11-12 {
    width: 91.66%
  }
  .mobile-col-10-12 {
    width: 83.333%;
  }
  .mobile-col-9-12 {
    width: 75%;
  }
  .mobile-col-5-12 {
    width: 41.66%;
  }
  .mobile-col-7-12 {
    width: 58.33%
  }
  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0;
  }
  .projectlong img {
    max-width: 400px;
  }
  .projectlong img, .projectlong .fancybox {
    margin-left: 0;
  }
}
@media screen and (max-width: 500px) {
   .bottomNav .nextPage {
    float: left;
   }
}
/* The Percentage-based grid, akin to bootstrap */

.gd-1, .gd-2, .gd-3, .gd-4, .gd-5, .gd-6, .gd-7, .gd-8, .gd-9, .gd-10, .gd-11, .gd-12 {
  position: relative;
  min-height: 1px;
  float: left;
  box-sizing: border-box;
}
.gd-12 {
  width: 100%;
}
.gd-11 {
  width: 91.66667%;
}
.gd-10 {
  width: 83.33333%;
}
.gd-9 {
  width: 75%;
}
.gd-8 {
  width: 66.66667%;
}
.gd-7 {
  width: 58.33333%;
}
.gd-6 {
  width: 50%;
}
.gd-5 {
  width: 41.66667%;
}
.gd-4 {
  width: 33.33333%;
}
.gd-3 {
  width: 25%;
}
.gd-2 {
  width: 16.66667%;
}
.gd-1 {
  width: 8.33333%;
}
.right {
  float: right;
}

/* Spacing */

.pad-small {
  padding: 1em 0;
}
.pad-medium {
  padding: 3em 0;
}
.pad-large {
  padding: 5em 2em;
}
.pad-sl {
  padding: 1em 0 5em;
}

/* ==========================================================================
  Responsible Design, breakpoint according to bootstrap
   ========================================================================== */


/*Supoer Large Display*/

@media only screen and (min-height: 1000px) {
.footer{
    bottom:0;
    position:fixed;
}
#projects{
  margin-bottom:50px;
}
#publication{
  margin-bottom:150px;
}
#reference{
  margin-bottom:100px;
}
.content{
  margin-bottom: 200px;
  overflow-y: scroll;
}
#detail{
    position:static;
}
.bottomNav{
  position:fixed;
    bottom:160px;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

}

/*Small Devices Tablet 768-992*/

@media only screen and (max-width: 1100px) {
  .gd-center {
    max-width: 940px;
    width: 100%;
  }

  .project, .gridSize-l, .gridSize-lr, .gridSize-s
 {
    width: 100%;
    float: left;
    height: 480px;
  }


  .gridSize-l img,.gridSize-lr img, .gridSize-s img{
    height: 460px;
  }

}

/*Extra Small Devices Mobile<768*/

@media only screen and (max-width: 768px) {
  html, body {
    font-size: 12px;
  }
  .gd-center {
    width: 96%;
    margin: 0 2%;
  }
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .s-half {
    width: 49%;
    margin-right: 2%;
  }
  .s-last {
    margin-right: 0;
  }
  .showInMobile {
    display: inline-block !important;
  }
  .name {
    display: none;
  }
  .footer, .space {
    display: none;
  }
  .bottomNav {
    bottom: 0;
  }
  /*
  .project {
    padding: 4%;
    width: 50%;
  }
  */
  nav {
    display: none;
    height: auto;
    width: auto;
    background-color: #EEE;
    margin-top: 60px
  }
  nav .current {
    border-bottom: none !important;
  }
  nav ul {
    position: static;
    top: 60px;
  }
  nav ul {
    padding-left: 20px;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    margin-left: 0;
    text-align: left;
  }
}

.bibtexentry{
  max-width:650px;
  width:100%;
  margin-bottom: 1em;
}
.bib-year {
  width:10%;
  display: table;
  float:left;
}
.bib-content {
  width:90%;
  display: table;
}
@media only screen and (max-width: 400px) {
  /*
  .project {
    padding: 5%;
    width: 100%;
    height: auto;
  }
  */
  .maxH {
    height: auto;
  }
}

/* mobile */
@media screen and (max-device-width: 800px){
  .projectlong iframe {
    display: none;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
