.regLink {
  color: #666666;
  text-decoration: none;
  font-family: Arial;
  font-size: 12px; font-weight: bold;
}
.bigLink {
  color: #666666;
  text-decoration: none;
  font-family: Arial;
  font-size: 14px; font-weight: bold;
}
.orange16 {
  color: #FD4A34;
  text-decoration: none;
  font-family: Arial;
  font-size: 16px; font-weight: bold;
  line-height: 22px;
}
.white24 {
  color: #ffffff;
  text-decoration: none;
  font-family: Arial;
  font-size: 24; font-weight: bold;
  line-height: 30px;
}
.white16 {
  color: #ffffff;
  text-decoration: none;
  font-family: Arial;
  font-size: 16px; font-weight: bold;
  line-height: 22px;
}
.black16 {
  color: #000000;
  text-decoration: none;
  font-family: Arial;
  font-size: 16px; font-weight: bold;
  line-height: 22px;
}
.orangeLink18 {
  color: #FD4A34;
  text-decoration: none;
  font-family: Arial;
  font-size: 18px; font-weight: bold;
  line-height: 22px;
}
.blueLink18 {
  color: #656597;
  text-decoration: none;
  font-family: Arial;
  font-size: 18px; font-weight: bold;
  line-height: 22px;
}
.blueLink16 {
  color: #656597;
  text-decoration: none;
  font-family: Arial;
  font-size: 16px; font-weight: bold;
  line-height: 22px;
}
.blueNoLinkLg {
  color: #656597;
  text-decoration: none;
  font-family: Arial;
  font-size: 15px; font-weight: bold;
  line-height: 22px;
}
.whiteNoLink12 {
  color: #e1def1;
  text-decoration: none;
  font-family: Verdana;
  font-size: 12px; 
}
.blueLinkLg {
  color: #656597;
  text-decoration: none;
  font-family: Arial;
  font-size: 14px; font-weight: bold;
  line-height: 22px;
}
.redLink {
  color: #f44743;
  text-decoration: none;
  font-family: Arial;
  font-size: 13px; font-weight: bold;
}
.blueLink {
  color: #656597;
  text-decoration: none;
  font-family: Arial;
  font-size: 12px; font-weight: bold;
}
.blue14 {
  color: #656597;
  text-decoration: none;
  font-family: Arial;
  font-size: 14px; font-weight: bold;
}
.red14 {
  color: #DC4B50;
  text-decoration: none;
  font-family: Arial;
  font-size: 14px; font-weight: bold;
}
.purpleLink12 {
  color: #6565a7;
  text-decoration: none;
  font-family: Arial;
  font-size: 12px; font-weight: bold;
}
.blueLink12 {
  color: #656597;
  text-decoration: none;
  font-family: Arial;
  font-size: 12px; font-weight: bold;
}
.blueLink11 {
  color: #656597;
  text-decoration: none;
  font-family: Arial;
  font-size: 11px; font-weight: bold;
  line-height: 11px;
}
.blueLink11b {
  color: #656597;
  text-decoration: none;
  font-family: Arial;
  font-size: 11px; font-weight: bold;
  line-height: 13px;
}
.blueLinkSm {
  color: #656597;
  text-decoration: none;
  font-family: Arial;
  font-size: 10px; font-weight: bold;
  line-height: 10px;
}
.blueLink8 {
  color: #656597;
  text-decoration: none;
  font-family: Arial;
  font-size: 8px; font-weight: bold;
}
.yellowLinkSm {
  color: #f8f745;
  text-decoration: none;
  font-family: Arial;
  font-size: 10px; font-weight: bold;
  line-height: 10px;
}
.blueLinkMed {
  color: #656597;
  text-decoration: underline;
  font-variant : small-caps;
  font-family: Arial;
  font-size: 13px; font-weight: bold;
  line-height: 15px;
}
.lavLink {
  color: #AD3C9E;
  text-decoration: none;
  font-family: Arial;
  font-size: 12px; font-weight: bold;
}
A:hover {
  color: #960000;
  text-decoration: none;
}
.blueLinkSm {
  color: #656597;
  text-decoration: none;
  font-family: Arial;
  font-size: 10px; font-weight: bold;
  line-height: 10px;
}
.blueLink8 {
  color: #656597;
  text-decoration: none;
  font-family: Arial;
  font-size: 8px; font-weight: bold;
}
.yellowLinkSm {
  color: #f8f745;
  text-decoration: none;
  font-family: Arial;
  font-size: 10px; font-weight: bold;
  line-height: 10px;
}
.blueLinkMed {
  color: #656597;
  text-decoration: underline;
  font-variant : small-caps;
  font-family: Arial;
  font-size: 13px; font-weight: bold;
  line-height: 15px;
}
.lavLink {
  color: #AD3C9E;
  text-decoration: none;
  font-family: Arial;
  font-size: 12px; font-weight: bold;
}
A:hover {
  color: #960000;
  text-decoration: none;
}
