/**************************
			MAIN
/*************************/
@font-face
{
    font-family: 'Cambria';
    src: url(font/cambria.ttf);
}

body
{
	margin:0;
  background:  linear-gradient(
                     rgba(20,20,20, .7),
                     rgba(20,20,20, .7)), url(imgs/bg.png) black;
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
  font-family: 'Cambria',sans-serif;
  padding-bottom: 150px;
}

p, blockquote{
  font-family: 'Cambria',sans-serif;
	font-size:16px;
  line-height: 20px;
	color:#eee;
	text-align:justify;
	width: 550px;
  padding:0 25px 0;
  margin-bottom:20px;
}

blockquote{
  font-weight:700;
  width:450px;
  text-align: center;
  font-style:italic;
}
p.caption{
  font-size:12px;
  text-align:left;
  letter-spacing: .3px;
}
a
{
	color: #FEE4A6;
	text-decoration: none;
}
a:hover
{
	text-decoration: none;
	color:#EE9D6A;
}
a:visited
{
	text-decoration: none;
	color:#AECED2;
}
/**************************
		 CONTAINER
/*************************/
.figures{
  margin-top: 40px;
  margin-bottom:40px
}
.gallery{
  margin-top: 50px;
  margin-bottom: 0;
}
.wrapper {
  padding: 5px 0;
  margin:30px 50px 0;
  width:600px;
  background-color: rgba(0,0,0,.4);
}
.wrapper.transparent{
  background-color: rgba(0,0,0,0);
}

.iframes{
  width:700px;
  margin:50px 0 50px;
}
iframe{
  background-color: grey;
  border-width: 1px;
  width:298px;
  height:198px;
}

.mailto
{
	padding-top:20px;
}

.spot
{
    margin: 0px;
	width: auto;
	height: 3px
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: center;
	position: relative;
}

.screenshot
{
	text-align:center;
	background-color:#fff;
	padding:0px 0px 0px 0px;
    border-width: 1px;
    border-color: Black;
}

.title
{
	text-align:center;
	padding:0px 0px 0px 0px;
	font-size:72px;
	font-style:normal;
	color:#fff;
	font-style:normal;
	line-height: normal;
	width:700px;
}

.credit
{
  color:#fff;
	height: 37px;
	font-size:18px;
  letter-spacing: .3px;
	text-align:center;
	text-justify:inter-word;
  -webkit-margin-after: 0em;
  text-align:center;
}
.credit span{
  font-size:28px !important;
}
.credit-media
{
  color:#fff;
  margin:0px;
	font-size:14px;
	padding-top:0px;
	text-align:center;
	text-justify:inter-word;
  height: 15px;
  margin-bottom: 50px;
}
#footer
{
	text-align:center;
	margin-right:10px;
	margin-bottom:0px;
	margin-top:20px;
}
hr{
	border-color: #d1b38b;

}

h4{
	font-family: pagedefault;
	font-size: 23px;
	color:#BC7F2A;
	text-align: center;
	margin-top: 2em;
}
h4 span{
	font-size:16px;
	display: block;
	color:gray;
	font-weight: 200;

}

.gallery .container{
	position:relative;
	width:600px;
	margin:20px 0px 0px;
}

.gallery img:hover{
  -webkit-filter: sepia(1);
 filter: sepia(1);
}

img.code, img.decompositions {
  background-color:black;
  padding:25px;
  width:500px;
  margin:50px 25px 0;

}

img.render {
  width:197px;
  border:none;

}
